body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FCFAEF;
}

.container {
    max-width: 800px;
    margin: 110px auto;
    padding: 20px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: #A63636;
    font-weight: bold;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}
p {
    line-height: 1.6;
}